.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.active {
  background-color: red;
}

img {
  width: 80px;
  border-radius:50%;
}

.finish {
  visibility:hidden;
}
