.container {
  margin: 20px auto;
  width: 600px;
  padding: 50px 20px 40px 20px;
  border: 1px solid black;
  border-radius: 20%;
  border-color: teal;
}
th {
  text-align: left;
}

.active {
  background-color: red;
}

img #player{
  width: 150px;
  border-radius:50%;
}

.finish {
  visibility:hidden;
}

.milk img {
  width:400px;
}
