<div class="container">
  <h1><center>Rubily Racer!</center></h1>
   <div class="content">
      <div id="registration">
        <form class="form-signin" action="/game" method="GET">
            <span class="form-signin-heading">Login or Create Yourself!</span>
            <br>

                <input type="text" name="player1" placeholder="Player 1">
                <input type="text" name="player2" placeholder="Player 2">
            
            <button type="submit">Login</button>
        </form>
      </div class="milk">
      <center>
        <p><br></p>
      <img src="/images/milk1.gif"><br>
      <img src="/images/milk2.gif">
</center>
      </div>
  </div>
</div>
