<div class="container">
  <h1>Rubily Racer</h1>


  
    <table class="racer_table">
      <tr id="player1_strip">
        <td class="active"><img src="/images/henry.jpg"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        
      </tr>
      <tr id="player2_strip">
        <td class="active"><img src="/images/uku.jpg"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

<div class="finish">
<!--   <p> Player xx is the winner!</p> -->
  <span id="winner"></span> 
</div>

</div>
